.artist{
    padding-top: 44px;
    position: relative;
    overflow: hidden;
}
.artist__container{
    @media (max-width: 991px){
        padding: 0;
    }
}
.arrow { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 49px;
    z-index: 1;
}
.arrow__left{
    left: 0;

    @media (max-width: 991px){
        top: auto;
        bottom: 121px;
        transform: translate(0);
    }
}
.arrow__right { 
    right: 0;
    transform: translateY(-50%) scaleX(-1);

    @media (max-width: 991px){
        display: none;
    }
}
.artist__container{
    display: flex;
    position: relative;
    z-index: 2;

    @media (max-width: 991px){
        flex-direction: column;
    }
}
.artist__left { 
    position: relative;
    z-index: 1;
    padding-top: 144px;
    max-width: 55%;
    width: 100%;

    @media (max-width: 1380px){
        padding-top: 8.7vw;
    }
    @media (max-width: 991px){
        max-width: 100%;
        padding: 8.7vw 25px 0;
    }
}
.artist__right { 
    position: relative;
    z-index: 2;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;

    @media (max-width: 991px){
        margin-top: 35px;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }
}
.artitst__title { 
    white-space: nowrap;
    position: relative;

    @include sandor{
        font-size: 95px;
        line-height: 0.85;

        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #F02D2D;

        -webkit-text-stroke: 1px #F02D2D;
    }

    span{
        position: relative;
        z-index: 2;
    }

    span:after{
        content: "";
        display: block;
        width: 104px;
        height: 102px;
        background: url(../assets/images/artist/combo-star.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: calc(100% + 35px);
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }

    @media (max-width: 1380px){
        font-size: 6.884vw;

        span:after{
            left: calc(100% + 2.536vw);
            width: 7.536vw;
            height: 7.391vw;
        }
    }
    @media (max-width: 991px){
        font-size: 9.2934vw;

        span:after{
            left: calc(100% + 3.4236vw);
            width: 10.1736vw;
            height: 9.97785vw;
        }
    }
    @media (max-width: 656px){
        font-size: 68px;
        white-space: normal;

        span:after{
            left: auto;
            right: 0;
            top: 100%;
            transform: translateY(-20%);
            width: 92px;
            height: 90px;
        }
    }
    @media (max-width: 525px){
        span:after{
            right: auto;
            left: calc(100% + 35px);
            transform: translateY(-50%);
        }
    }
    @media (max-width: 390px){
        font-size: 60px;
    }
}
.artist__content { 
    display: flex;
    margin-top: 53px;
    max-width: 100%;

    p{
        flex: 0 0 50%;

        @include plusJakarta(500){
            font-size: 18px;
            line-height: 1.6;

            letter-spacing: 0.01em;

            color: #000000;
        }

        span{
            float: left;

            @include darklands{
                font-size: 122.049px;
                line-height: 0.5;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;

                letter-spacing: 0.01em;
                text-transform: uppercase;

                color: #000000;
                transform: translateY(-5px);
            }
        }
    }
    p + p{
        padding-left: 24px;
    }

    @media (max-width: 656px){
        flex-direction: column;
        margin-top: 60px;

        p + p{
            padding: 0;
            margin-top: 20px;
        }
    }
}
.artist__mouth{
    margin-top: 10px;
    max-width: 461.5px;
    width: 100%;
    margin-left: 20px;

    @media (max-width: 991px){
        display: none;
    }

    &.cloned{
        display: none;
    }
}
.artist__mouth-mobile{
    display: none;

    max-width: 202px;
    max-height: 348px;
    margin-right: 70px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px){
        display: block;
    }
    @media (max-width: 656px){
        max-width: 150px;
        max-height: 258px;        
    }
    @media (max-width: 656px){
        margin-right: 0;
    }
    @media (max-width: 404px){
        max-width: 75px;
        max-height: 129px;        
    }
}
.artist__image{
    display: block;
    margin-top: auto;
    max-width: 456px;
    width: 456px;
    margin-left: auto;
    position: relative;  
    z-index: 1;

    img{ 
        position: relative;  
        z-index: 2;
        width: 100%;
    }

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
        filter: blur(94px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    @media (max-width: 991px){
        margin-left: 0;
        margin-top: 0;
        width: 100%;
    }
    @media (max-width: 656px){
        width: 324px;
        flex-shrink: 0;
    }
}