.court{
    padding: 93px 0 34px;
    // background: linear-gradient(180deg, #000000 45.74%, rgba(0, 0, 0, 0.8) 55.78%, rgba(73, 207, 249, 0) 100%);
    background: transparent;
    background-image: url(../assets/images/court/back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (max-width: 991px){
        padding-top: 50px;
    }
    @media (max-width: 768px){
        background-size: contain;
    }
}
.court__container{
    @media (max-width: 768px){
        padding: 0;
    }
    @media (max-width: 394px){
    }
}
.court__title { 
    max-width: 837px;
    margin: 0 auto;

    @include curvilingus{
        font-size: 140px;
        line-height: 0.7;

        text-align: center;
        letter-spacing: 0.01em;
        text-transform: capitalize;

        color: #FFFFFF;
    }

    @media (max-width: 1265px){
        font-size: 8.7vw;
        max-width: 66vw;
    }
    @media (max-width: 768px){
        font-size: 52px;
        max-width: 320px;
    }
}
.court__cards { 
    margin-top: 60px;
    display: flex;

    @media (max-width: 768px){
        flex-wrap: wrap;
        margin-top: 10px;
    }
    @media (max-width: 768px){
        padding-right: 20px;
    }
    @media (max-width: 394px){
        padding-right: 10px;
    }
}
.court__card { 
    padding: 0 31px;
    position: relative;
    z-index: 1;

    &:first-child .court__card-opened,
    &:nth-child(2) .court__card-opened{
        transform: translateX(-100vw);

        @media (max-width: 768px){
            transform: translate(0);
        }
    }

    @media (max-width: 1265px){
        padding: 0 15px;
    }

    &:hover{
        .court__card-opened{
            transform: translate(0);
            transition: transform .35s ease .2s;
        }
    }
    @media (max-width: 768px){
        flex-basis: 50%;
        padding: 0 30px;
        margin-top: 47px;
    }
    @media (max-width: 565px){
        padding: 0 17px;
    }
    @media (max-width: 394px){
        // flex-basis: 100%;
    }

    &:hover{
        z-index: 2;
    }
}
.court__wrapper{    
    position: relative;
}
.court__card-back{
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.court__card-opened{
    position: absolute;
    left: 14.33%;
    top: 8.85%;
    z-index: 2;
    transform: translateX(100vw);
    transition: transform .2s ease;

    @media (max-width: 768px){
        transform: translate(0);
    }
}