.header { 
    background: #161616;
    padding: 11.5px 0;
    position: relative;
    z-index: 2;
}
.header__container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{   
    @media (max-width: 991px){
        display: none;
    }
}
.logo p{ 
    @include curvilingus{
        font-size: 27px;
        letter-spacing: 0.01em;
        color: #fff;
        text-shadow: 0px 1.14914px 0px #000000;
        -webkit-text-stroke: 0.287284px #470000;;
    }
}
.header__nav { 
    display: flex;
    align-items: center;

    @media (max-width: 991px){
        display: none;
    }
}
.header__link { 
    margin: 0 44px;
    @include plusJakarta(400){
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
    @media (max-width: 1125px){
        margin: 0 25px;
    }
}
.header__btn { 
    @include plusJakarta(700){
        font-size: 13.5px;
        line-height: 1.625;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    padding: 14.2px 33px;
    background: #FC2323;

    @media (max-width: 394px){
        padding: 13px 20px;
    }
}

// Burgermenu
.burgermenu{
    width: 27px;
    height: 21px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    span{
        border-radius: 3px;
        background: #fff;
        width: 100%;
        height: 3px;
    }

    span:nth-child(2){
        width: 71.42%;
    }

    span:last-child{
        width: 42.86%;
    }

    @media (max-width: 991px){
        display: flex;
    }
}