.society{
    padding: 80px 0;
}
.society__container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.society__title { 
    max-width: 1000px;

    @include curvilingus{
        font-size: 100px;
        line-height: .92;
        text-align: center;
        color: #000000;
    }

    span{
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 110%;
            height: 90%;
            background: transparent;
            border: 2px solid #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-radius: 100%;
        }
    }

    @media (max-width: 991px){
        font-size: 80px;
    }
    @media (max-width: 656px){
        font-size: 70px;
    }
    @media (max-width: 565px){
        font-size: 52px;
    }
}
.society__content{
    max-width: 1172px;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    align-items: center;

    + .society__content{
        margin-top: 170px;

        @media (max-width: 991px){
            margin-top: 120px;
        }
        @media (max-width: 768px){
            margin-top: 90px;
        }
        @media (max-width: 656px){
            margin-top: 55px;
        }
    }
    
    &_col{
        flex-direction: column;
        max-width: 1241px;
    }

    @media (max-width: 656px){
        flex-direction: column;
    }
}
.society__left { 
    max-width: 60%;
    width: 100%;
}
.society__right { 
    max-width: 40%;
    width: 100%;
}
.society__left,
.society__right{
    @media (max-width: 991px){
        max-width: 50%;
    }

    @media (max-width: 656px){
        max-width: 100%;
    }
}
.society__wrapper{    
    width: 100%;
    max-width: 568px;

    &_max{
        max-width: 100%;
        text-align: center;
    }
}
.society__text { 
    margin-top: 50px;

    @include mazzard(400){
        font-size: 35px;
        line-height: 1;
        letter-spacing: 0.01em;

        color: #000000;
    }
    span.zk{
        @include paladin(500){
            font-size: 40px;
            transform: translateY(3px);
            display: inline-block;
        }
    }
    span.b{
        font-weight: 700;
    }
    span.red{
        color: #E41C24;
    }
    @media (max-width: 991px){
        font-size: 30px;
        margin-top: 23px;
    }

    @media (max-width: 768px){
        font-size: 23px;
    }

}
.society__suit { 
    margin: 0 auto;

    &.spade{
        max-width: 194px;
    }
    &.diamond{
        max-width: 170px;
    }
    &.club{
        max-width: 201px;
    }
    &.heart{
        max-width: 202px;
    }

    @media (max-width: 991px){
        
        &.spade{
            max-width: 97px;
        }
        &.diamond{
            max-width: 91px;
        }
        &.club{
            max-width: 113px;
        }
        &.heart{
            max-width: 121px;
        }
    }
}
.society__img{
    margin-left: auto;
    width: 100%;

    &.img-01{
        max-width: 418px;
    }
    &.img-02{
        max-width: 418px;
    }
    &.img-03{
        max-width: 461px;
    }
    &.img-04{
        max-width: 100%;
        margin-left: 0;
        margin-top: 94px;

        @media (max-width: 991px){
            margin-top: 52px;
        }
    }
    @media (max-width: 656px){
        margin-right: auto;
        margin-top: 35px;
    }
}