@include fontCreate("Darklands",    400, "../assets/fonts/Darklands");

@font-face {
    font-family: "SandorTrial";
    font-weight: 400;
    src: url("../assets/fonts/SandorTrial.ttf");
}
@font-face {
    font-family: "Curvilingus";
    font-weight: 400;
    src: url("../assets/fonts/Curvilingus.otf");
}
@font-face {
    font-family: "PaladinPCRus";
    font-weight: 500;
    src: url("../assets/fonts/PaladinPCRus.ttf");
}

@font-face {
    font-family: "Mazzard";
    font-weight: 300;
    src: url("../assets/fonts/MazzardL-Light.ttf");
}
@font-face {
    font-family: "Mazzard";
    font-weight: 400;
    src: url("../assets/fonts/MazzardL-Regular.ttf");
}
@font-face {
    font-family: "Mazzard";
    font-weight: 500;
    src: url("../assets/fonts/MazzardL-Medium.ttf");
}
@font-face {
    font-family: "Mazzard";
    font-weight: 600;
    src: url("../assets/fonts/MazzardL-SemiBold.ttf");
}
@font-face {
    font-family: "Mazzard";
    font-weight: 700;
    src: url("../assets/fonts/MazzardL-Bold.ttf");
}
@font-face {
    font-family: "Mazzard";
    font-weight: 800;
    src: url("../assets/fonts/MazzardL-ExtraBold.ttf");
}

@font-face {
    font-family: "PlusJakarta";
    font-weight: 500;
    src: url("../assets/fonts/PlusJakartaDisplay-Medium.otf");
}
@font-face {
    font-family: "PlusJakarta";
    font-weight: 700;
    src: url("../assets/fonts/PlusJakartaDisplay-Bold.otf");
}