@mixin fontCreate($name, $weight, $url, $ttf: true, $style: normal) {
    @font-face {
        font-family: $name;
        font-weight: $weight;
        font-style: $style;        
        @if $ttf {
            src: url("#{$url}.woff2") format("woff2"),
                 url("#{$url}.woff") format("woff"),
                 url("#{$url}.ttf") format("truetype"),
                 url("#{$url}.eot") format("embedded-opentype");    
        } @else {
            src: url("#{$url}.woff2") format("woff2"),
                 url("#{$url}.woff") format("woff"),
                 url("#{$url}.otf") format("opentype"),
                 url("#{$url}.eot") format("embedded-opentype");    
        }
    }
}

@function calcSize($size, $per){
    @return $size * ($per / 100);
}


@mixin sandor($weight: 400){
    font-family: "SandorTrial", sans-serif;
    font-weight: $weight;
    @content;
}
@mixin curvilingus($weight: 400){
    font-family: "Curvilingus", sans-serif;
    font-weight: $weight;
    @content; 
}
@mixin darklands($weight: 400){
    font-family: "Darklands", sans-serif;
    font-weight: $weight;
    @content;
}
@mixin mazzard($weight: 400){
    font-family: "Mazzard", sans-serif;
    font-weight: $weight;
    @content;
}
@mixin plusJakarta($weight: 400){
    font-family: "PlusJakarta", sans-serif;
    font-weight: $weight;
    @content;
}
@mixin paladin($weight: 400) {
    font-family: "PaladinPCRus", sans-serif;
    font-weight: $weight;
    @content;
}